<% include partials/head %>
<div class="wrapper">
    <h1><%= title %></h1>
    <br>
    <h2>About</h2>
        <body>
            <p>This is a blog I created as part of an assignment during my second year of study in Software Development.
            </p>
        </body>
</div>
