<% include partials/head %>
<div class="wrapper">
    <!-- The above class styles my pages so that it is centered. -->
    <h1><%= title %></h1>
    <br>
        <body>
            <p>Welcome to my blog.<br>I created this blog as part of an assignment in my second year of Software Development in MTU. <br><br>
            Please click below if you wish to view the blog articles. </p>
            <button><a href="articles/articleList">Display All Articles</a></button>  
        </body>
</div>
