<% include partials/head %>
<div class="wrapper">
    <h1><%= title %></h1>
    <br>
    <h2>Help</h2>
        <body>
            <p>To create a new article, simply press the 'New Article' option on the top of the home page. <br>Should you need further help please email: livehelp123@help.com
            </p>
        </body>
</div>
