<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <header>
            <div class="wrapper">
                <ul class="nv-l">
                    <li><a href="/">Blog Home</a></li>
                    <li><a href="/articles/create">New article</a></li>
                    <li><a href="/articles/articleList">All Articles</a></li>
                    <li><a href="/articles/update">Update Articles</a></li>
                    <li><a href="/articles/articleList/search">Search Articles</a></li>
                </ul>
                <ul class="nv">
                    <li><a href="/articles/help">Help</a></li>
                    <li><a href="/articles/about">About</a></li>
                </ul>
            </div>
        </header>
    </body>
</html>
